body {
  background-image: url("bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

#rate {
  font-family: 'Paytone One', sans-serif;
  font-size: 4rem;
  color: white;
  text-shadow: 0 10px 10px rgba(0,0,0,0.2);
  }

.font {
  font-family: 'Paytone One', sans-serif;
  font-size: 3rem;
  color: white;
  align-self: flex-end;
  margin-bottom:20px;
  margin-bottom: 5px;
margin-right: 5px;
text-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:15rem;
}
